* {
    border-radius: 5px;
}

.repo {
    float: right;
}

.user {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;

}

.top {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    padding: 20px;
}

h4 {
    text-align: right;
    margin-right: 350px;
}